<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDX2w4o7JU2bHCt5LTR_FLY-qUrFdVekhU</string>
	<key>GCM_SENDER_ID</key>
	<string>573154829762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projekweb.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cinova-show</string>
	<key>STORAGE_BUCKET</key>
	<string>cinova-show.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573154829762:ios:40eceba27236078f9e625b</string>
</dict>
</plist>